<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='coming-soon.css')}}">
</head>

<body>
    <h1>Coming Soon</h1>
    <p style="margin-top: -10px; margin-bottom: -10px; ">under construction</p>
    <p>In the meantime, <a href='/parker/sudoku'>play sudoku</a>.</p>

</body>
