{% extends 'home.jinja' %}
{% block content %}
<div class="sudoku-main">
    {% for r in range(9) %}
        <div class="sudoku-row">
        {% for c in range(9) %}
            {% set val = game.array[9 * r + c].value %}
            {% if val != 0 %}
                <div class="sudoku-cell clue"><div class="puzzle-value">{{ val }}</div></div>
            {% endif %}
            {% if val == 0 %}
                <div class="sudoku-cell blank"><div class="puzzle-value">0</div> </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
</div>
<div class="side">
    <div class="side" id="easy"><a href="{{ url_for('sudoku_easy') }}">Easy</a></div>
    <div style="display: inline-block"><a href="{{ url_for('sudoku_hard') }}">Hard</a></div>
</div>
<div class="subject">
        <a href="https://www.github.com/pkulavic" target="_blank">GitHub</a>
</div>


<script src="{{ url_for('static', filename='sudoku.js') }}"></script>

{% endblock %}

{% block message %}
<p id="message-label"><a>Send me a message!</a></p>
<p id="message-text">hi</p>
<p id="message-notes"></p>
<script src="{{ url_for('static', filename='message.js') }}"></script>
{% endblock %}
